.navbar{
	background-color: rgba(0,0,0,.15)!important;
}
body{

	background-color:  $backgroundColor;
	font-family: monospace;
	color: white;
}
p{
	color: #000000;
}
footer ul{
	padding: 0px;
}

footer li{
	list-style-type: none;
	padding: 15px;
	display: inline;
}
